{{ ansible_managed | comment }}

# fact
github.com
raw.githubusercontent.com
apt.postgresql.org
dl-cdn.alpinelinux.org
luarocks.org
luafr.org
luarocks.logiceditor.com
pkg-containers.githubusercontent.com
registry-1.docker.io
auth.docker.io
production.cloudflare.docker.com
pypi.org
files.pythonhosted.org

# system - tinyproxy takes a single filters file
archive.ubuntu.com
ca.archive.ubuntu.com
de.archive.ubuntu.com
azure.archive.ubuntu.com
security.ubuntu.com
ddebs.ubuntu.com
archive.canonical.com
changelogs.ubuntu.com
nova.clouds.archive.ubuntu.com
keyserver.ubuntu.com
livepatch.canonical.com
livepatch-files.canonical.com
ppa.launchpad.net
esm.ubuntu.com
# optional tools
mirrors.digitalocean.com
digitaloceanmirrors.com
repos.sonar.digitalocean.com
repos.insights.digitalocean.com
repos-droplet.digitalocean.com
pkg.osquery.io
osquery-packages.s3.us-east-1.amazonaws.com
pkg.osquerypackages.com
download.falco.org
d20hasrqv82i0q.cloudfront.net
tuf-repo-cdn.sigstore.dev
download.draios.com
packages.microsoft.com
artifacts.elastic.co
dl.filippo.io
# snapd
api.snapcraft.io
canonical-lgw01.cdn.snapcraftcontent.com
canonical-bos01.cdn.snapcraftcontent.com
