{{ ansible_managed | comment }}
{% if fact_syslog_target is defined and fact_syslog_target != '' %}
if ($programname == 'fact-db' or $programname == 'fact-backend' or $programname == 'fact-frontend') then            {{ fact_syslog_target }}
{% if rsyslog_v is defined and rsyslog_v|string is version_compare('8.0', '<') %}
& ~
{% else %}
& stop
{% endif %}
{% endif %}
