pip
virtualenv
distro
python-magic
requests
docker
psutil
pytest==6.1.2
testresources
setuptools==49.6.0
ssdeep
git+https://github.com/fkie-cad/fact_helper_file.git
pytest-cov
pylint
python-magic
xmltodict
yara-python==3.7.0
appdirs
lief==0.10.1
requests
pymongo
pyyaml
hurry.filesize
git+https://github.com/fkie-cad/common_helper_files.git
git+https://github.com/fkie-cad/common_helper_mongo.git
git+https://github.com/mass-project/common_helper_encoder.git
git+https://github.com/fkie-cad/common_helper_filter.git
git+https://github.com/fkie-cad/common_helper_process.git
werkzeug==0.16.1
flask
flask_restful
flask_security
flask_sqlalchemy
flask-paginate
Flask-API
uwsgi
bcrypt
python-dateutil
si-prefix
email-validator
matplotlib
