appdirs
bcrypt
distro
docker
email-validator
flask
Flask-API
flask-paginate
flask_restful
flask_security
flask_sqlalchemy
git+https://github.com/fkie-cad/common_helper_files.git
git+https://github.com/fkie-cad/common_helper_filter.git
git+https://github.com/fkie-cad/common_helper_mongo.git
git+https://github.com/fkie-cad/common_helper_process.git
git+https://github.com/fkie-cad/fact_helper_file.git
git+https://github.com/mass-project/common_helper_encoder.git
hurry.filesize
lief==0.10.1
matplotlib
pip
psutil
pylint
pymongo
pytest==6.1.2
pytest-cov
python-dateutil
python-magic
python-magic
pyyaml
requests
requests
setuptools==49.6.0
si-prefix
ssdeep
testresources
uwsgi
virtualenv
werkzeug==0.16.1
xmltodict
yara-python==3.7.0
